@media all and (max-width: 390px) {
    .h1-animate{
        font-size: 10px;
        color: white;
    }
    .p-animate{
        font-size: 12px;
    }
    .emoji-facu{
        width: 200px
    }
    .sorteio-image{
        width: 200px
    }
    .money-img{
        width: 200px
    }
    .btn-on{
        width: 190px;
        font-size: 20px;
    }
    .border-pix{
        width: 350px
    }
    .gratidao-emoji{
        width: 200px
    }
    .border-alexa{
        width: 350px
    }
    .alexa-text{
        font-size: 12px
    }
}


@media all and (max-width: 414px){
    .alexa-text{
        font-size: 5px
    }
}


@media all and (max-width: 430px) {
    .h1-animate{
        font-size: 15px;
        color: white;
    }
    .p-animate{
        font-size: 12px;
    }
    .emoji-facu{
        width: 200px
    }
    .sorteio-image{
        width: 200px
    }
    .money-img{
        width: 200px
    }
    .btn-on{
        width: 120px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    .border-pix{
        width: 350px
    }
    .gratidao-emoji{
        width: 200px
    }
    .border-alexa{
        width: 350px
    }

}




@media all and (max-width: 414px) {
    .alexa-text{
        font-size: 14px
    }
}



@media all and(max-width: 912px){
    .btn-on{
        font-size: 20%;
    }
}